POSTGRES_PORT=5432
POSTGRES_DB=chargerdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

PROXY_PORT=8080
MANAGER_PORT=8081

SPRING_PROFILES_ACTIVE=dev

PROXY_SOAP_URL=http://charge-proxy:8080/ws
PROXY_WSDL_URL=http://localhost:8080/ws/chargeservice.wsdl


# ASAAS_API_URL=https://api.asaas.com/v3
# ASAAS_API_KEY=your_api_key_here
# ASAAS_WEBHOOK_SECRET=your_webhook_secret_here


# SPRING_MAIL_HOST=smtp.gmail.com
# SPRING_MAIL_PORT=587
# SPRING_MAIL_USERNAME=your_email@gmail.com
# SPRING_MAIL_PASSWORD=your_app_password
# SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
# SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true


